**/ipynb*
**/__pycache__
**/.vscode
**/.DS_Store
**/.idea/

MLP-from-0-to-1/*
Logistic-regression-from-0-to-1/*
Attention-from-0-to-1/*
CNN-from-0-to-1/*
Decision-tree-from-0-to-1/*
GBDT-from-0-to-1/*
RNN-from-0-to-1/*
Yolo/*
SVM-from-0-to-1/*

